.area-title{
    background-color: lightgray;
    text-align: center;
    color: #36393e;
    font-size: large;
    font-style: italic;
    font-weight: 600;
    border-radius: 2px;
}

ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  
    column-count: auto;
    column-gap: 0px;
    
    margin: 0;
    padding: 3px;
}

app-task-item {
    height: auto;
    width: 203px;
    margin: 3px;
    box-sizing: border-box;

    background-color: #494d53;

    border: 2px outset #5f656d;
    border-radius: 5px;

    overflow: clip;
    display: inline-flex;
}