<div
    class="content"
    [ngStyle]="{'height': (descExtend) ? 'auto' : '103px'}"
>
    <div  
        class="top-bar"
        [style.--color]="task.getAssignedUser().color"
        (mouseover)="mouseOverTopBar=true"
        (mouseout)="mouseOverTopBar=false"
    >
        <span *ngIf="!mouseOverTopBar">{{task.getName()}}</span>
        <span *ngIf="mouseOverTopBar">{{'\< '+task.getAssignedUser().name+' \>'}}</span>
    </div>
    <div 
        class="description"
    >
        {{task.getDescription()}}
    </div>
    <div
        class="bot-controls"
    >
        <button
            (click)="descExtend ? descExtend=false : descExtend=true"
        >
            <span *ngIf="!descExtend">extend</span>
            <span *ngIf="descExtend">hide</span>
        </button>
        <button (click)="task.showTaskHistory()">history</button>
        <button (click)="someButtonFutureImplementation()">something</button>
    </div>
</div>