.content{
    min-height: 107px;
    width: 100%;
    margin: 3px;
    box-sizing: border-box;

    display: grid;

    background-color: #494d53;
    border: 2px outset #5f656d;
    border-radius: 5px;

    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr 15px; 
}

.top-bar{
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 3px;
    padding-left: 3px;
    border-radius: 1px;
    background-color: var(--color);
    font-weight: 600;
    overflow: hidden;
}

.top-bar:hover{
    font-weight: 500;
    padding-left: 20px;
}

.description{
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0px 5px 5px 5px;
    overflow: hidden;
    font-size: small;
}

.bot-controls{
    grid-row-start: 3;
    grid-row-end: 4;
}

button{
    margin-left: 1px;
    padding: 2px 8px 2px 8px;
    width: max-content;
    float: right;

    background-color: #36393e;


    font-size: x-small;
    color: lightgray;
    border: none;
    border-radius: 2px;
}

button:hover {
    background-color: #494d53;
}

button:active {
    border: 1px inset gray;
    color: gray;
}
