<form>
    <input 
        type="text" 
        placeholder="Name"
    >
    <input 
        type="text" 
        placeholder="Descryption"
    >
    <select
    > <!--TODO opcje generowane z listy użytkowników-->
        <option value="no assingnment"> - </option>
        <option value="Paweł Kuruc">Paweł Kuruc</option>
        <option value="Eryk Pałasz">Eryk Pałasz</option>
        <option value="Oskar Anczyk">Oskar Anczyk</option>
        <option value="Paweł Wolf">Paweł Wolf</option>
    </select>
    <input 
        type="submit" 
        value="Add task" 
        class="submit"
    >
</form>
<button>Clear completed tasks</button>