<form (ngSubmit)="onSubmit()">
    <input 
        name="name"
        type="text" 
        placeholder="Name"
        [(ngModel)]="name"
    >
    <input 
        name="desc"
        type="text" 
        placeholder="Descryption"
        [(ngModel)]="desc"
    >
    <select
        name="user"
        [(ngModel)]="user"
    >
        <option value="null"> - </option>
        <option 
            *ngFor="let users of aviableUsers"
            [ngValue]="users"
        >
            {{users.name}}
        </option>
    </select>
    <input 
        type="submit" 
        value="Add task" 
        class="submit"
    >
</form>
<button (click)="clearCompletedTasks()">Clear completed tasks</button>