form{
    margin: auto;
    float: left;
}

input, select {
    margin: 5px;
    padding: 5px;
    background-color: #36393e;
    color: #bbb;
    border: inset 2px gray;
    border-radius: 5px;
}
  
button, .submit {
    height: 29px;
    margin: 5px;
    border: outset #4f545c;
    border-radius: 5px;
    background-color: #36393e;
    color: #bbb;
    float: right;
}

button:hover, .submit:hover {
    background-color: #494d53;
    border: outset #4f545c;
}
  
button:active, .submit:active {
    color: gray;
    border: inset #4f545c;
}