.main-container {
    width: 90vw;
    max-width: 866px;
    height: 90vh;
    margin: auto;
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
}

.app-title{
    grid-column-start: 1;
    grid-column-end: 3;

    color: lightgray;
    font-style: italic;
    font-size: small;
}

app-control-panel{
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: #aaa;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

app-todo-area{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0px;
}

app-done-area{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0px;
}